%d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.show {
    margin-left: 0;
    transition: all linear 200ms;
}
.close {
    margin-left: -21%;
    transition: all linear 200ms;
}
