@keyframes slideUp {
    0% {
        transform: translateY(110%);
        opacity: 0;
    }
    80% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@mixin time($name: "success", $bg-initial: #d4eddabe, $bg-middle: #caebd2) {
    @keyframes time-#{$name} {
        0% {
            width: 0;
            background-color: $bg-initial;
        }
        50% {
            background-color: $bg-middle;
        }
        100% {
            width: 100%;
            background-color: $bg-initial;
        }
    }
}
@include time();
@include time("danger", #f8d7da, #f6c8cc);
@include time("warning", #fff3cd, #f5e5b1);
