@import "key-frames";
%d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
// SHOW/CLOSE MENU LATERAL
.show {
    margin-left: 0;
    transition: all linear 200ms;
}
.close {
    margin-left: -370px;
    transition: all linear 200ms;
}

//Alerta customizado
.div-alert {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    @extend %d-flex;
    flex-direction: column;
    gap: 1rem;
    //***** INICIO - MIXIN MESSAGE *****//
    @mixin message(
        $name: "success",
        $border-color: #c3e6cb,
        $bg-color: #d4eddabe,
        $color: #155724,
        $time: time-success
    ) {
        .message-#{$name} {
            display: block;
            position: relative;
            z-index: 2;
            padding: 10px 30px;
            border-radius: 5px;
            border: 1px solid $border-color;
            background-color: $bg-color;
            font-size: 1.6rem;
            color: $color;
            animation: slideUp 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            &::before {
                content: "";
                z-index: 1;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 5px;
                animation: $time 3s forwards;
            }
        }
    }
    //***** FIM - MIXIN MESSAGE *****//
    @include message();
    @include message("danger", #f5c6cb, #f8d7da, #721c24, time-danger);
    @include message("warning", #ffeeba, #fff3cd, #856404, time-warning);
}

.hide {
    display: none !important;
}
