@import "custom";
.menu-lateral {
    position: relative;
    padding: 30px 15px;
    max-width: 500px;
    min-width: 300px;
    height: 100vh;

    @extend %d-flex;
    align-items: start;
    justify-content: flex-end;
    background-color: $gray;

    .conteudo-esquerdo {
        @extend %d-flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        .principal {
            @extend %d-flex;
            gap: 2rem;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            &__title {
                font-size: 3.6rem;
                text-align: center;
                font-weight: 400;
                color: $secundary;
                border-top: 1px solid $primary;
                border-bottom: 1px solid $primary;
                &--destack {
                    font-weight: 600;
                    color: $tertiary;
                }
            }
            &__logo {
                img {
                    object-fit: contain;
                    object-position: center;
                    width: 100%;
                    max-width: 150px;
                }
            }
        }
    }
}
