@import "variables", "reset", "custom",
    url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
    font-family: "Roboto", sans-serif;
}
html {
    font-size: 62.5%; //1rem = 10px
}

.body-geral {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    @import "menu-lateral";
    .conteudo-principal {
        @extend %d-flex;
        width: 100%;
        height: 100%;
    }
}
